@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

body{
   font-family: 'Roboto', sans-serif;
}

.main-header{
   background: url('https://cdn.pixabay.com/photo/2023/03/03/14/16/light-7827771_960_720.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: block;
}

.minu-bar{
   position: fixed;
   left: 0;
   width: 250px;
   height: 100%;
   background: #a5b1c2;
}
.minu-bar h1{
   font-size: 30px;
   color: #fff;
   text-align: center;
   background: #778ca3;
   padding: 25px;
}

.minu-bar nav ul li a{
   line-height: 60px;
   font-size: 18px;
   color: #fff;
   border-top: 1px solid #4b6584;
   border-bottom: 1px solid #4b6584;
   display: block;
   padding-left: 40px;
   transition: .4s;
}

nav ul li:hover a{
   padding-left: 50px;
}

nav ul li a i{
   margin-right: 15px;
}